.gameBorder {
    border: solid 1px rgba(255, 255, 255, 1);
    border-radius: 20px;
    width: 94vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.titleTextCenter {
    text-align: center;
    padding-left: 10px;
}   

